:root {
  /* CSS HEX */
  --harvest-gold: #eca400ff;
  --cream: #eaf8bfff;
  --cerulean: #006992ff;
  --indigo-dye: #27476eff;
  --oxford-blue: #001d4aff;

  /* CSS HSL */
  --harvest-gold: hsla(42, 100%, 46%, 1);
  --cream: hsla(75, 80%, 86%, 1);
  --cerulean: hsla(197, 100%, 29%, 1);
  --indigo-dye: hsla(213, 48%, 29%, 1);
  --oxford-blue: hsla(216, 100%, 15%, 1);
}

<<<<<<< HEAD
/* Reset some default styles */
=======
html {
  font-family: Catamaran;
}
>>>>>>>15c3983b0550b8ddca5a04e638273583bc9df272 body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: var(--indigo-dye);
}

form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--cream);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: var(--oxford-blue);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: var(--oxford-blue);
}
